.container-1 {
  height: 9.375rem;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

form input:nth-child(3) {
  margin: 0.3125rem 1.875rem 0px 0px;
  height: 2.375rem;
  width: 20rem;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}

form select {
  margin: 0.3125rem 1.875rem 0px 0px;
  height: 2.375rem;
  width: 20rem;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}

form label {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#checkbox {
  position: absolute;
  bottom: 3.4375rem;
  right: 28.4375rem;
}

#p {
  position: absolute;
  bottom: 3.5rem;
  right: 23.75rem;
}

#botao {
  height: 3.125rem;
  width: 13.75rem;
  justify-self: center;
  background-color: #7749f8;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 1rem;
  margin-top: 3.125rem;
}

form .telebusca {
  display: none;
}

.mostrar {
  display: grid;
  position: absolute;
  right: 0.3125rem;
  top: 28.125rem;
}

#endereco {
  margin: 0.3125rem 1.875rem 0px 0px;
  height: 2.375rem;
  width: 20rem;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  margin-bottom: 0.625rem;
}

#cep {
  margin: 0.3125rem 1.875rem 0px 0px;
  height: 2.375rem;
  width: 20rem;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}

.container-2 {
  height: 9.375rem;
  width: auto;
  display: flex;
  justify-content: center;
}

.container-2 p {
  padding-top: 3.125rem;
  width: 30.625rem;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 50%;
  line-height: 1.1;
}

@media (min-width: 1800px) {
  .mostrar {
    display: grid;
    position: absolute;
    right: 17.5rem;
    top: 28.75rem;
  }
  #checkbox {
    position: absolute;
    bottom: 26.25rem;
    right: 46.875rem;
  }

  #p {
    position: absolute;
    bottom: 26.3125rem;
    right: 42.1875rem;
  }
}
