/* Header */

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #7749f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  width: auto;
}

.header input {
  width: 600px;
  height: 38px;
  border-radius: 6px;
  border: none;
}

.header .botao-conta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .botao-conta a {
  color: white;
}

.header input::placeholder {
  padding-left: 20px;
  color: #adb5bd;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
